<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Дозвіл на використання камери -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".MyApplication"
            android:usesCleartextTraffic="true"
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.SmartInvent"
            tools:targetApi="31">

        <!-- Головна активність -->
        <activity
                android:name=".activity.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity android:name=".activity.SignUpCompanyActivity1" android:exported="false"/>
        <activity android:name=".activity.SignUpCompanyActivity2" android:exported="false" android:theme="@style/Theme.SmartInvent"/>
        <activity android:name=".activity.ForgotPasswordActivity" android:exported="false"/>
        <activity android:name=".activity.AddProductActivity" android:exported="false"/>
        <activity android:name=".activity.DatabaseConfigActivity" android:exported="false"/>
        <activity android:name=".activity.EditProductActivity" android:exported="false"/>
        <activity android:name=".activity.MainScannerActivity" android:exported="false"/>
        <activity android:name=".activity.MainActivity" android:exported="false"/>
        <activity android:name=".activity.MoreActivity" android:exported="false"/>
        <activity android:name=".activity.ProductDetailsActivity" android:exported="false"/>
        <activity android:name=".activity.ScannerActivity" android:exported="false" android:theme="@style/CustomScannerTheme" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ReportsActivity" android:exported="false"/>
        <activity android:name=".activity.BaseHomeActivity" android:exported="false"/>
        <activity android:name=".activity.UserHomeActivity" android:exported="false"/>
        <activity android:name=".activity.AdminHomeActivity" android:exported="false"/>


        <!-- Додатково: підтримка FragmentManager (якщо потрібно) -->
        <meta-data
                android:name="android.support.FILES"
                android:value="true" />
    </application>

</manifest>
